presenter:
	action:
		edit: Upravit odkaz
form:
	container:
		group: Odkaz
		property:
			module:
				label: Modul
				placeholder: Vyplňte modul
			presenter:
				label: Presenter
				placeholder: Vyplňte presenter
			action:
				label: Akce
				placeholder: Vyplňte akci
			parameters:
				group: Parametry
				action:
					add: Přidat parametr
					delete: Odebrat parametr
parameter:
	form:
		container:
			group: Parametr
			property:
				key:
					label: Klíč
					placeholder: Vyplňte klíč
				value:
					label: Hodnota
					placeholder: Vyplňte hodnotu
