presenter:
	action:
		edit: Edit link
form:
	container:
		group: Link
		property:
			module:
				label: Module
				placeholder: Fill module
			presenter:
				label: Presenter
				placeholder: Fill presenter
			action:
				label: Action
				placeholder: Fill action
			aliases:
				group: Aliases
				action:
					add: Add alias
					delete: Delete alias
			parameters:
				group: Parameters
				action:
					add: Add parameter
					delete: Delete parameter
parameter:
	form:
		container:
			group: Parameter
			property:
				key:
					label: Key
					placeholder: Fill key
				value:
					label: Value
					placeholder: Fill value
alias:
	form:
		container:
			group: Alias
			property:
				value:
					label: Value
					placeholder: Fill value
